<!-- 
Author: Daniel Spagnuolo
Date: November 10th
Purpose: A partial for formatting the display of a single micropost.
-->
<li>
  <span><%= listing.title %></span>, 
  <span><%= listing.price %></span>, 
  <span><%= listing.duration %></span>, 
  <span><%= listing.postalcode %></span>
  -
  <span>
    Posted <%= time_ago_in_words(listing.created_at) %> ago.
  </span>
</li>