<!-- 
Author: Daniel Spagnuolo
Date: November 10th
Purpose: The page for a listing
-->
<div>
  Title: <%= @listing.title %> <br />
  Category: <%= @listing.category %> <br />
  PostalCode: <%= @listing.postalcode %> <br />
  Price per day: <%= @listing.price %> <br />
  <%= @listing.duration %> <br />
</div>